.hero-bag {
    display: flex;
}

.enemy-bag {
    display: flex;
    margin-bottom: 5%;
}

img {
    width: 10%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

#results {
    display: flex;
    width: 80%;
    border: 2px solid palevioletred;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 10%;
}

.result-box {
    margin: 2%;
}

#hero-results, #enemy-results {
    display: flex;
    width: 50%;
}





#hero, #enemy {
    margin-top: 2%;
    margin-left: 2%;
}

form {
    border: 2px solid palevioletred;
    padding: 2%;
    width: 80%;
    margin-left: 2%;
    margin-right: 10%;
}

button {
    margin: 1%;
}